/* Elements principaux de la page */

body  
{
	background: url("wayang1.jpg");
	display: flex;                  /* flex = definir un conteneur et à l'interieur on place plusieurs elements */
	color: black;
	opacity: 1.3;
	font-family: "Comic Sans MS", Impact, "Trebuchet MS", Verdana;
}

h1
{
	font-family: "Georgia";
	font-size: x-large;
	color: red;
	text-align: center;
	margin-bottom: 30px;
}


h2, nav
{
	font-family: "Arial Black";
	font-size: large;
	text-align: center;
}

p, ul
{
	text-align: justify;
	font-size: medium;	
	max-width: 1200px;
}


/* Header */

#logo
{
	text-align: center;
	background-color: white;	
}

#logo img
{
	width: auto;
	height: 200px;
}


/* Navigation */

nav ul
{	
	width: 200px;
	list-style-type: none;             /* pour retirer image ronde servant des puces */
	text-align: center;
	padding: 0 10px 1px 10px;   /* marge interieur */
	margin: 12px;    /* marge exterieur */
}

nav a
{
	color: black;
	text-decoration: none;			/* pour retirer le soulignement on met "none"*/
	font-size: large;
}

nav a:hover
{
	color: blue;						/* quand on pointe sur le lien, sa couleur devient bleu avec un sourligner blanc */
	border-bottom: 3px solid white;
}


/* Corps */

.conteneur
{
	display: flex;
	flex-direction: column; 
}

.flexbody
{
	flex: 1;
	display: flex;
	flex-direction: row;
}

section
{
	display: inline-flex;				/* inline-flex = rend le conteneur se comporte comme un élément en ligne. */
	justify-content: space-around;                /* justify-content = alignement sur axe principal dans flex ; space-around = il y a l'espace partout */
	flex-direction: row;
	flex-wrap: nowrap;				/* nowrap = pas de retour à la ligne */
}

figure
{
	text-align: center;
}

.imageflottant
{
	float: left;
	clear: both;
	margin: 10px;
}

article, aside
{
	align-content: center;
	border: 3px maroon dotted;
	padding: 0 10px 1px 10px;   /*marge interieur*/
	margin: 10px;    /*marge exterieur*/
	text-align: justify;
}

.calendrier
{
	text-align: center;
}



/* Footer */

footer
{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	margin: 30px;    /*marge exterieur*/
	font-size: medium;
}

footer a
{
	font-family: "Arial Black";
	display: block;
	color: black;
	text-decoration: none;       /*pour retirer le soulignement on met "non"*/
	text-align: justify;
}

a:hover
{
	color: blue;
	border-bottom: 3px solid white;
}


/*le responsive sur tous types d'ecran quand la largeur de la fenetre est entre 1024px et 1280px */

@media all and (max-device-width: 800px)
{
	#conteneur, #logo, nav
	{
		width: auto;
	}

	nav a
	{
		font-size: small;
	}

	section
	{
		flex-direction: column;
	}

	article, aside
	{
		width: auto;
		margin-bottom: 15px;
	}

	iframe
	{
		width: 110px;
		float: right;
		margin-left: 15px;
	}	
}
